body, html {
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0;
  background-image: url("kick.jpeg"); /* Add the background image */
  background-size: cover; /* Cover the entire background */
  background-repeat: no-repeat; /* Prevent image repeating */
  background-position: center center; /* Center the image */
  overflow:hidden; /* Avoid exceeding body limits with strobe */
}

.strobe {
    animation: strobe 0.353s infinite;  /* Calculate duration for 170 BPM (60/170) */
}

@keyframes strobe {
    0% {
        background-color: rgba(255, 255, 255, 0); /* Initial transparent color */
    }
    50% {
        background-color: rgba(255, 255, 255, 1); /* Peak white */
    }
    100% {
        background-color: rgba(255, 255, 255, 0); /* Return to transparent */
    }
}

.container {
  text-align: center;
}

.button {
  background-color: grey;
  border: none;
  color: white;
  padding: 20px 40px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 12px;
  transition: background-color 0.3s ease;
}

.button:active, .button.green {
  background-color: green;
}